*::after,
*::before,
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  all: inherit;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $Very-Light-Grey;
}



img{
  max-width: 100%;
}